/*style of all webpages*/

* {
	box-sizing: border-box;
}

html {
  background-image: url("img/black_bg.png");
}

body {
border: 1px solid red;
max-width: 1000px;
background-color: gainsboro;
margin: auto;
}

header {
  background-image: url(img/kinda_grey.jpg);
  overflow: auto;
}

#bar {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  overflow: hidden;
  width: 500px;
  float: right;
}

.sections {
  display: inline;
  float: left;
  width: 100px;
  text-align: center;

}

.sections a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;

}

.sections a:hover {
  background-color: grey;
}

#logo {
  width: 100px;
  height: 75px;
  float: left;
  margin-left: 25px;
}

/*index.html*/

h2 {
  text-align: center;
  margin: 20px 75px 0px 75px;
}

#products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 30px;
}

.product {
  background-image: url(img/kinda_grey.jpg);
  overflow: auto;
  padding: 5px 25px 25px 25px;
/*
  margin: 5px 16px;
  float: left;
*/
  border-radius: 10px;
/*
  width: 250px;
  height: 400px;
*/
}

.productImg {
  width: 70%;
  align-content: center;
}

button {
  float: right;
}

.clear {
  clear: both;
}

@font-face {
  font-family: cutive;
  src: url(Fonts/Cutive-Regular.ttf);
}

@font-face {
  font-family: unna;
  src: url(Fonts/Unna-Regular.ttf);
}

#aboutUs {
  background-image: url(img/kinda_grey.jpg);
  overflow: auto;
}

#aboutUs h1 {
  text-align: center;
  font-family: cutive;
  
}
#aboutUs h3 { 
  font-family: unna;
  margin: 5px 50px 5px 50px;
}

#survey {
  margin: 10px 500px 10px 10px;
}

#parts {
 margin: 10px 10px 10px 500px;
}


/*login.html*/

#login {
  background-image: url(img/kinda_grey.jpg);
  border-radius: 10px;
  padding: 50px 50px 50px 50px;
  margin: 50px 50px 50px 50px;
}

.active {
  border: solid 1px green;
}

